@media screen and (max-width: 1700px) {
  .page {
    padding: 5rem 10rem;
  }
  .heading {
    font-size: 12rem;
  }
  .subtitle {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1550px) {
  .heading {
    font-size: 11rem;
  }
  .subtitle {
    font-size: 4.2rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }
}

@media screen and (max-width: 450px) {
  body {
    overflow: visible;
  }
  header {
    display: none;
  }
  .page {
    padding: 5rem 3rem;
  }
  .heading {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 3rem;
  }

  .home-main {
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;
    align-items: end;
  }
  .soc-link:link,
  .soc-link:visited {
    font-size: 2rem;
  }
}
