:root {
  /* CSS HSL */
  --space-cadet: hsla(227, 49%, 21%, 1);
  --dark-cornflower-blue: hsla(222, 57%, 36%, 1);
  --blue-yonder: hsla(224, 32%, 50%, 1);
  --jet: hsla(27, 10%, 17%, 1);
  --cultured: hsla(300, 9%, 96%, 1);
}
/* General Webpage Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--cultured);
  background-color: var(--space-cadet);
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

/* General Pages Styling */

.container {
  height: 100vh;
  max-width: 170rem;
  margin: 0 auto;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* #home {
  background-color: var(--space-cadet);
} */
/* #about {
  background-color: var(--dark-cornflower-blue);
}
#skills {
  background-color: var(--blue-yonder);
}
#projects {
  background-color: var(--cultured);
}
#contact {
  background-color: var(--jet);
} */

/******************************************* 
*************** Header *********************
********************************************/

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 4rem;
  line-height: 1;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 3rem;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}

/* .nav-link.current-link {
  font-weight: 400; 
}
.nav-link.current-link::after {
  content: "";
} */
.main-nav-buttons {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.main-btn {
  display: inline-block;
  /* border: 1px solid var(--cultured); */
  color: var(--cultured);
  font-size: 1.6rem;
  /* padding: 1.2rem 2rem; */
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--space-cadet);
}
.main-btn:hover {
  /* transform: scale(1.2); */
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--cultured);
}

/************ Home Header *************/

.nav-link:link,
.nav-link:visited {
  color: var(--blue-yonder);
}

.nav-link:hover,
.nav-link:active {
  color: var(--cultured);
}

.nav-link.current-link {
  color: var(--cultured);
}

/************ About Header ************/

/* .about-header .nav-link:link,
.about-header .nav-link:visited {
  color: var(--blue-yonder);
}

.about-header .nav-link:hover,
.about-header .nav-link:active {
  color: var(--cultured);
}

.about-header .nav-link.current-link {
  color: var(--cultured);
} */

/************ Skills Header ************/

/* .skills-header .nav-link:link,
.skills-header .nav-link:visited {
  color: var(--blue-yonder);
}

.skills-header .nav-link:hover,
.skills-header .nav-link:active {
  color: var(--cultured);
}

.skills-header .nav-link.current-link {
  color: var(--cultured);
}

/*********** Projects Header ***********/

/* .projects-header .nav-link:link,
.projects-header .nav-link:visited {
  color: var(--blue-yonder);
}

.projects-header .nav-link:hover,
.projects-header .nav-link:active {
  color: var(--jet);
}

.projects-header .nav-link.current-link {
  color: var(--jet);
} */

/*********** Contact Header ************/

/* .contact-header .nav-link:link,
.contact-header .nav-link:visited {
  color: var(--dark-cornflower-blue);
}

.contact-header .nav-link:hover,
.contact-header .nav-link:active {
  color: var(--cultured);
}

.contact-header .nav-link.current-link {
  color: var(--cultured);
} */

/**************************************
**************** Main *****************
***************************************/

/*********** Home Main ****************/

.home-main {
  display: grid;
  grid-template-columns: 5fr 5fr;
  align-items: center;
}

.heading {
  font-size: 9rem;
  margin-bottom: 4rem;
  line-height: 1.1;
}

.subtitle {
  font-size: 4rem;
  line-height: 1.5;
}

.main-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
}

.soc-link:link,
.soc-link:visited {
  color: var(--blue-yonder);
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid var(--blue-yonder);
  padding-bottom: 1rem;
}

.soc-link:hover,
.soc-link:active {
  color: var(--cultured);
  border-bottom: 1px solid var(--cultured);
  transform: scale(1.2);
}

/* Projects Main */
.projects-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5rem;
}
.project {
  border: 1px solid var(--blue-yonder);
  padding: 3rem;
}

.project:hover {
  border-color: var(--cultured);
}
.project-headline {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.project-text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 2rem 0 3rem 0;
}
.tech-stack {
  display: flex;
}
.tech {
  border-left: 1px solid var(--blue-yonder);
  padding: 0.6rem 1.2rem;
}

.tech-name {
  display: inline-block;
  padding-left: 0.6rem;
  font-weight: 500;
  font-size: 1.4rem;
}
.fa-html5,
.fa-css3-alt,
.fa-js {
  font-size: 1.4rem;
}
.project-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.4rem;
}
.live-link,
.code-link {
  display: inline-block;
  color: var(--blue-yonder);
  text-decoration: none;
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--blue-yonder);
}

.live-link:hover,
.code-link:hover {
  color: var(--cultured);
  border-bottom-color: var(--cultured);
  transform: scale(1.2);
}

/* Contact Main */

.contact-main {
  display: grid;
  grid-template-columns: 4fr 5fr;
}
.form-wrap {
  border: 1px solid var(--blue-yonder);
  padding: 5rem;
}
.form-heading {
  font-size: 4rem;
  /* margin-bottom: 3rem; */
}
label,
input,
textarea,
select {
  display: inline-block;
  width: 100%;
}
label {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}
input,
select,
textarea {
  background-color: var(--space-cadet);
  border: none;
  padding: 0.6rem 1.2rem;
  border-bottom: 1px solid var(--blue-yonder);
  color: var(--cultured);
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

textarea {
  border-bottom: 1px solid var(--blue-yonder);
}
input:focus {
  outline: none;
  border-bottom-color: var(--cultured);
}
textarea:focus,
select:focus {
  border-color: var(--cultured);
}
input::placeholder {
  color: var(--blue-yonder);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 50%;
}
.name-area {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.name-area,
.reason-area,
.email-area,
.message-area {
  margin-bottom: 4rem;
}
textarea::placeholder {
  color: var(--blue-yonder);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form-btn {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border: 1px solid var(--cultured);
  width: auto;
  color: var(--cultured);
  cursor: pointer;
  /* margin-top: 3rem; */
}
.form-btn:hover {
  transform: scale(1.2);
}

.socials-wrap {
  padding: 5rem 10rem 5rem 5rem;
  background-color: var(--blue-yonder);
  border: 1px solid var(--blue-yonder);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.touch-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.link-text {
  font-size: 2.4rem;
  line-height: 1.6;
}

.link-text a {
  text-decoration: none;
  color: var(--space-cadet);
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--cultured);
}

.contact-socials {
  color: var(--cultured);
}
.contact-socials .fa-brands,
.contact-socials .fa-solid {
  color: var(--cultured);
  margin-right: 3rem;
  font-size: 5rem;
}

/*******************************************
***************** Footer *******************
********************************************/

footer {
  border-bottom: 1px solid var(--cultured);
}
footer a {
  text-decoration: none;
  color: var(--cultured);
}
