:root {
  /* CSS HSL */
  --space-cadet: hsla(227, 49%, 21%, 1);
  --dark-cornflower-blue: hsla(222, 57%, 36%, 1);
  --blue-yonder: hsla(224, 32%, 50%, 1);
  --jet: hsla(27, 10%, 17%, 1);
  --cultured: hsla(300, 9%, 96%, 1);
}
/* General Webpage Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--cultured);
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

/* General Pages Styling */
.page {
}
.container {
  height: 100vh;
  max-width: 170rem;
  margin: 0 auto;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home {
  background-color: var(--space-cadet);
}
#about {
  background-color: var(--dark-cornflower-blue);
}
#skills {
  background-color: var(--blue-yonder);
}
#projects {
  background-color: var(--cultured);
}
#contact {
  background-color: var(--jet);
}

/******************************************* 
*************** Header *********************
********************************************/

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 4rem;
  line-height: 1;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 3rem;
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;
}

.nav-link.current-link {
  font-weight: 400;
}
.nav-link.current-link::after {
  content: ".";
}
.main-btn {
  display: inline-block;
  border: 1px solid var(--cultured);
  color: var(--cultured);
  font-size: 1.6rem;
  padding: 1.2rem 2rem;
  text-decoration: none;
  font-weight: 500;
}
.main-btn:hover {
  transform: scale(1.2);
}

/************ Home Header *************/

.home-header .nav-link:link,
.home-header .nav-link:visited {
  color: var(--dark-cornflower-blue);
}

.home-header .nav-link:hover,
.home-header .nav-link:active {
  color: var(--cultured);
}

.home-header .nav-link.current-link {
  color: var(--cultured);
}

/************ About Header ************/

.about-header .nav-link:link,
.about-header .nav-link:visited {
  color: var(--blue-yonder);
}

.about-header .nav-link:hover,
.about-header .nav-link:active {
  color: var(--cultured);
}

.about-header .nav-link.current-link {
  color: var(--cultured);
}

/************ Skills Header ************/

.skills-header .nav-link:link,
.skills-header .nav-link:visited {
  color: var(--blue-yonder);
}

.skills-header .nav-link:hover,
.skills-header .nav-link:active {
  color: var(--cultured);
}

.skills-header .nav-link.current-link {
  color: var(--cultured);
}

/*********** Projects Header ***********/

.projects-header .nav-link:link,
.projects-header .nav-link:visited {
  color: var(--blue-yonder);
}

.projects-header .nav-link:hover,
.projects-header .nav-link:active {
  color: var(--jet);
}

.projects-header .nav-link.current-link {
  color: var(--jet);
}

/*********** Contact Header ************/

.contact-header .nav-link:link,
.contact-header .nav-link:visited {
  color: var(--dark-cornflower-blue);
}

.contact-header .nav-link:hover,
.contact-header .nav-link:active {
  color: var(--cultured);
}

.contact-header .nav-link.current-link {
  color: var(--cultured);
}

/**************************************
**************** Main *****************
***************************************/

/*********** Home Main ****************/

.home-main {
  display: grid;
  grid-template-columns: 6fr 4fr;
  align-items: center;
}

.heading {
  font-size: 11rem;
  margin-bottom: 4rem;
  line-height: 1.1;
}

.subtitle {
  font-size: 5rem;
  line-height: 1.5;
}

.main-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3rem;
}

.soc-link:link,
.soc-link:visited {
  color: var(--dark-cornflower-blue);
  font-size: 3rem;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid var(--dark-cornflower-blue);
  padding-bottom: 1rem;
}

.soc-link:hover,
.soc-link:active {
  color: var(--cultured);
  border-bottom: 1px solid var(--cultured);
  transform: scale(1.2);
}

/*******************************************
***************** Footer *******************
********************************************/

footer {
  border-bottom: 1px solid var(--cultured);
}
footer a {
  text-decoration: none;
  color: var(--cultured);
}

.projects-footer {
  border-bottom-color: var(--jet);
}
