:root {
  /* CSS HSL */
  --space-cadet: hsla(227, 49%, 21%, 1);
  --dark-cornflower-blue: hsla(222, 57%, 36%, 1);
  --blue-yonder: hsla(224, 32%, 50%, 1);
  --jet: hsla(27, 10%, 17%, 1);
  --cultured: hsla(300, 9%, 96%, 1);
}
/* General Webpage Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--cultured);
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

/* General Pages Styling */
.page {
  height: 100vh;
  padding: 5rem 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home {
  background-color: var(--space-cadet);
}
#about {
  background-color: var(--dark-cornflower-blue);
}
#skills {
  background-color: var(--blue-yonder);
}
#projects {
  background-color: var(--cultured);
}
#contact {
  background-color: var(--jet);
}

/* Header */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  gap: 4rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--blue-yonder);
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
}
.nav-link:hover {
  color: var(--cultured);
}
.nav-link.current-link {
  color: var(--cultured);
}
.nav-link.current-link::after {
  content: ".";
}
.main-btn {
  display: inline-block;
  border: 1px solid var(--cultured);
  color: var(--cultured);
  font-size: 1.6rem;
  padding: 1.2rem 2rem;
  text-decoration: none;
  font-weight: 500;
}
/* Main */

/* Footer */

footer {
  border-bottom: 1px solid var(--cultured);
}
