:root {
  /* CSS HSL */
  --space-cadet: hsla(227, 49%, 21%, 1);
  --dark-cornflower-blue: hsla(222, 57%, 36%, 1);
  --blue-yonder: hsla(224, 32%, 50%, 1);
  --jet: hsla(27, 10%, 17%, 1);
  --cultured: hsla(300, 9%, 96%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: var(--cultured);
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}
